.login {
    display: flex;
    align-items: center;
    justify-content: center;
  
    form {
      margin-top: 100px;
      margin-bottom: 60px;
      width: 360px;
      padding: 40px 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 1px solid black;
      background:#fff;
      box-shadow: 4px 4px gray;
  
      h1 {
        color: black;
        margin-bottom: 20px;
      }
  
      label {
        color: gray;
        font-size: 18px;
      }
  
      input,
      textarea {
        padding: 15px;
        border: 1px solid rgb(216, 214, 214);
      }
  
      button {
        border: none;
        padding: 16px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #b103fc;
        cursor: pointer;
      }
  
      span{
        color: red;
        font-size: 12px;
      }
    }
  }